

<div class="container mt-5 signupForm">
    
    <form [formGroup]="loginForm" >
        <div class="row  p-5 accType">
            <div class="col text-right">
                <button class="btn btn-primary" (click)="goToSignUp()">Don't have an Account ?</button>
            </div>
            
                <div class="col-md-12 form-group  float-left">
                    <div class="text-center">
                        <h3 class="" >LOGIN</h3>
                       </div>
                    <label for="usr">Username</label>
                    <input type="text" class="form-control" id="usr1"
                     placeholder="" formControlName="name"
                    required>
                </div>
                <div class=" col-12 text-center">
                    <button class="btn btn-success  mt-4 mb-4" [disabled]="!loginForm.valid" (click)="onLogin()">LOGIN</button>
                </div>
                <div class="col-12 text-center">
                    <span class=" text-success  mt-3" *ngIf="loginStatus"> {{loginMessage}}</span>
                    <span class=" text-danger  mt-3" *ngIf="!loginStatus">{{loginMessage}}</span>
                 </div>
        </div>
        
    </form>
</div>